<div class="teacher-grid">
  <mat-card class="teacher-options" *ngIf="!search; else searching">
    <button mat-raised-button (click)="search = true">Keresés</button>
  </mat-card>
  <ng-template #searching>
    <mat-card class="teacher-search">
      <button
        class="search-back-arrow"
        mat-button
        mat-icon-button
        aria-label="Back"
        (click)="search = false"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-select
        placeholder="Tanár neve"
        [(ngModel)]="selectedTeacher"
        (selectionChange)="updateForm()"
        name="teacher"
      >
        <mat-option *ngFor="let teacher of teachers" [value]="teacher">
          {{ teacher.name }}
        </mat-option>
      </mat-select>
    </mat-card>
  </ng-template>
  <mat-card class="teacher-card">
    <mat-card-header>
      <mat-card-title>Tanár adatai</mat-card-title>
      <mat-card-subtitle
        ><i>Tanár kiválasztása után megjelennek az adatok</i></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="teacherForm" class="teacher-form">
        <mat-form-field appearance="outline">
          <mat-label>Tanár neve</mat-label>
          <input
            matInput
            type="text"
            placeholder="Vezetéknév Keresztnév"
            formControlName="name"
            [readonly]="!editing"
          />
          <mat-icon class="edit-icon" matSuffix *ngIf="editing"
            >editing</mat-icon
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="pelda@email.hu"
            formControlName="email"
            [readonly]="!editing"
          />
          <mat-icon class="edit-icon" matSuffix *ngIf="editing"
            >editing</mat-icon
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefonszám</mat-label>
          <input
            matInput
            type="tel"
            placeholder="201234567"
            formControlName="phone"
            [readonly]="!editing"
          />
          <mat-icon class="edit-icon" matSuffix *ngIf="editing"
            >editing</mat-icon
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Jogosultságok</mat-label>
          <mat-select
            placeholder="Jogosultságok"
            formControlName="privileges"
            name="privilege"
          >
            <mat-option
              *ngFor="let privilege of privileges"
              [value]="privilege"
            >
              {{ privilege }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <ng-container *ngIf="selectedTeacher">
        <button
          mat-raised-button
          *ngIf="!editing; else update"
          (click)="editTeacher()"
        >
          Adatok szerkesztése
        </button>
        <ng-template #update>
          <button mat-raised-button (click)="updateTeacher()">Mentés</button>
          <button mat-raised-button (click)="cancelUpdate()">Mégse</button>
        </ng-template>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
