.message-card {
  height: 100%;
}

.edit-button {
  margin-left: auto;
  margin-right: 0;
}

.edit-button mat-icon {
  color: #afafaf;
}

.edit-button:hover mat-icon {
  color: #000;
}

.message-content {
  white-space: pre-line;
}

.message-block {
  margin-bottom: 0.5rem;
}

.important-type {
  background-color: #ff4136;
}

.general-type {
  background-color: #dfdfdf;
}
