<nav>
  <ul>
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="nav-active">
        <mat-icon>dashboard</mat-icon>
        <div class="nav-title">Irányítópult</div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/students']" routerLinkActive="nav-active">
        <mat-icon>people_alt</mat-icon>
        <div class="nav-title">Tanulók</div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/curriculum']" routerLinkActive="nav-active">
        <mat-icon>menu_book</mat-icon>
        <div class="nav-title">Tananyag</div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/notifications']" routerLinkActive="nav-active">
        <mat-icon>notifications</mat-icon>
        <div class="nav-title">Értesítések</div>
      </a>
    </li>
    <li class="nav-logout">
      <a (click)="onLogout()">
        <mat-icon>meeting_room</mat-icon>
        <div class="nav-title">Kilépés</div>
      </a>
    </li>
  </ul>
</nav>
<div class="nav-bg"></div>
