<h2 mat-dialog-title>Új tanuló</h2>
<mat-dialog-content class="new-student-dialog">
  <form
    class="new-student-form"
    (ngSubmit)="onSubmit()"
    [formGroup]="newStudentForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>Tanuló neve</mat-label>
      <input
        matInput
        type="text"
        placeholder="Vezetéknév Keresztnév"
        formControlName="name"
        value=""
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="pelda@email.hu"
        formControlName="email"
        value=""
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefonszám</mat-label>
      <input
        matInput
        type="tel"
        placeholder="201234567"
        formControlName="telnum"
        value=""
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Születési dátum</mat-label>
      <input
        matInput
        [matDatepicker]="datepicker"
        placeholder="1970. 01. 01."
        formControlName="birthdate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button type="submit">Mentés</button>
  </form>
</mat-dialog-content>
