<mat-card class="daily-card">
  <mat-card-header>
    <mat-card-title>Napi órák</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="daily-accordion">
      <mat-expansion-panel
        class="daily-accordion__panel"
        *ngFor="let lessons of groupedLessons"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{
            lessons[0].date | date: "HH:mm":"":"hu"
          }}</mat-panel-title>
          <mat-panel-description
            >Órák száma: {{ lessons.length }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <table
          class="daily-accordion__table"
          mat-table
          #table
          [dataSource]="lessons"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tanuló neve</th>
            <td mat-cell *matCellDef="let lesson">
              {{ lesson.studentId | studentName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Óra típusa</th>
            <td mat-cell *matCellDef="let lesson">
              {{ lesson.type === "LESSON" ? "Tanóra" : "Gyakorló" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="curriculum">
            <th mat-header-cell *matHeaderCellDef>Tananyag</th>
            <td mat-cell *matCellDef="let lesson">
              {{ lesson.recurring }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
        </table>
        <!-- <div class="daily-accordion__content" *ngFor="let lesson of lessons">
          {{ lesson.studentId | studentName }}
        </div> -->
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>
