<mat-card class="daily-card">
  <mat-card-header>
    <mat-card-title>Napi órák</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="daily-accordion">
      <mat-expansion-panel
        class="daily-accordion__panel"
        *ngFor="let lesson of lessons"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> title </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        content
      </mat-expansion-panel>
      <!-- <mat-expansion-panel>
                <mat-expansion-panel-header>
                    title2
                </mat-expansion-panel-header>
                content2
            </mat-expansion-panel> -->
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>
