.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "msg daily weekly"
    "info daily weekly";
  height: 100%;
}

.daily-component {
  grid-area: daily;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.weekly-component {
  grid-area: weekly;
  margin-left: 0.25rem;
}
